{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Visitas Granada</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>

     <!-- Personalizar boton -->
    <style type="text/css">
      .boton_personalizado{
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
        background-color: #1883ba;
        border-radius: 6px;
        border: 2px solid #0016b0;
      }
    </style>


    <style>
      #mapid {
      width: 500px;
      height: 500px;
      }
    </style>

    <!--Boostrap-->
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/dark_mode.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin="">
    </script>

    <style>
    .fakeimg {
      height: 200px;
      background: rgb(100, 98, 98);
    }
    </style>

    

  </head>
  <body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="{% url 'index' %}">Visitas</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_visita' %}">Añadir Visita</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Log In</a>
          </li> 
        </ul>
      </div> 
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="darkSwitch">
        <label class="custom-control-label" for="darkSwitch" style="color: aliceblue;" > <i class="fas fa-moon"></i
      </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    </nav>

    <div class="jumbotron text-center" style="margin-bottom:0">
      <h1>Visitas Granada</h1>
      <p>Acceda a las mejores visitas turísticas de la ciudad de Granada</p> 
    </div>
    


     <!-- Content -->
     <div class="container">
    {% block content %}
    {% endblock %}
    </div>

    
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js" 
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" 
    crossorigin="anonymous">
    </script>
    <!-- Dark mode switch java script -->
    <script type="text/javascript" src="{% static 'js/darkmode.js' %}"></script>
    


    <!-- Para usar los iconos de Feather -->
    <script src="https://unpkg.com/feather-icons"></script>

    <!-- Para los iconos -->
    <script>
      feather.replace()
    </script>

    <!-- Para los likes -->
    {% block like_manager %}
    {% endblock %}

    {% block map %}
    {% endblock %}

  </body>
</html>